.movierow{
    margin-bottom: 30px;
}
.movierow h2{
    margin: 0px 0px 0px 30px;
}
.listarea{
    overflow-x: hidden;
    padding-left: 30px;
}
.list{
    width: 99999999px;
}
.item{
display: inline-block;
width: 150px;
cursor: pointer;
} 
.item img
{
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
}
img:hover{
    transform : scale(1);
    /* transition:  */
}
